/**
 * ------------------------------
 * General
 * ------------------------------
 */
.udb-dashboard-form {
	max-width: 500px;
}

.form-table img {
	width: 100px;
	padding: 10px;
	opacity: .5;
}

.form-table td {
	vertical-align: top;
}

.form-table tr.status-wrap {
	border-top: 1px solid #eee;
}

.form-table tr.status-wrap td {
	vertical-align: middle;
	padding: 15px 20px;
	background: #f9f9f9;
}

.form-table tr.status-wrap td:last-child {
	text-align: right;
}

.form-table .status {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.form-table .status p {
	margin: 0;
	font-size: 14.5px;
}

.form-table .status .status-code {
	margin-left: 5px;
}

.form-table .status-code .active {
	color: #008000;
}

.form-table .status-code .inactive {
	color: #ff0000;
}