/* Features */
.udb-features-container {
	display: flex;
	flex-wrap: wrap;
}

.udb-features-container .heatbox {
	display: flex;
	flex-direction: column;
	flex: 0 32%;
	margin-right: 2%;
}

.udb-features-container .heatbox:nth-child(3n) {
	margin-right: 0;
}

@media screen and (max-width: 768px) {
	.udb-features-container .heatbox {
		flex: 0 100%;
		margin-right: 0;
	}
}

.udb-features-container .heatbox h2 {
	display: flex;
	align-items: center;
}

.udb-features-container .heatbox h2 img {
	width: 32px;
	margin-right: 10px;
	opacity: 0.75;
}

.heatbox-content {
	flex: 1 0 auto;
	min-height: 130px;
}

.heatbox-content p {
	font-size: 14.5px;
}

.feature-status {
	display: flex;
	align-items: center;
	padding: 15px 20px;
	border-top: 1px solid #eee;
	background: #f9f9f9;
}

.feature-status > * {
	width: 50%;
}

.feature-status .status-switch {
	text-align: right;
}

.feature-status .status {
	font-size: 14.5px;
}

.feature-status .status .status-code {
	font-weight: 700;
}

.feature-status .status-code .active {
	color: #008000;
}

.feature-status .status-code .inactive {
	color: #aaa;
}
