/* Features */
.udb-feature-form {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}


.udb-feature-form .heatbox {
	flex-direction: column;
	flex: 0 49%;
	margin-right: 2%;
}

@media screen and (max-width:768px) {
	.udb-feature-form .heatbox {
		flex: 0 100%;
		margin-right: 0;
	}
}

.udb-feature-form .heatbox:nth-child(even) {
	margin-right: 0;
}

h2 {
	display: flex;
	align-items: center;
}

h2 img {
	width: 45px;
	margin-right: 15px;
	opacity: .75;
	display: inline;
}

.form-table td {
	vertical-align: top;
}

.form-table tr.status-wrap {
	border-top: 1px solid #eee;
}

.form-table tr.status-wrap td {
	vertical-align: middle;
	padding: 15px 20px;
	background: #f9f9f9;
	display: table-cell;
}

.form-table tr.status-wrap td:last-child {
	text-align: right;
}

.form-table .status {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.form-table .status p {
	margin: 0;
	font-size: 14.5px;
}

.form-table .status .status-code {
	margin-left: 5px;
}

.form-table .status-code .active {
	color: #008000;
}

.form-table .status-code .inactive {
	color: #ff0000;
}