# Sass Cache
.sass-cache/

# DS_Store
.DS_Store

# phpcs & editor's setting related
.vscode/
phpcs.xml

# ignore build tools (if possible).
node_modules/
gulpfile.js
package.json
package-lock.json
manifest.json