/**
 * PRO notice
 */
.udb-pro-login-customizer-notice.is-shown {
	opacity: 1;
	visibility: visible;
}

.udb-pro-login-customizer-notice {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	transition: all .3s;
}

.login .udb-login-customizer-pro-button {
	float: none;
	margin-left: 10px;
	font-weight: 600;
}
