/**
 * PRO notice
 */
.udb-login-customizer-pro-notice {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 35px;
	width: 100%;
	height: 45px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	background-color: rgba(172, 154, 90, 0.95);
	z-index: 1000;
}

.login .udb-login-customizer-pro-button {
	float: none;
	margin-left: 15px;
}
