/**
 * ------------------------------
 * Role Picker
 * ------------------------------
 */
.role-picker-control .select2-search__field[type="search"] {
	/* Override WordPress */
	height: 22px;
	min-height: 10px;
	line-height: 1.7;
}

.role-picker-control .select2-search,
.role-picker-control .select2-selection__choice {
	margin-bottom: 0;
}

/**
 * ------------------------------
 * Icon Picker
 * ------------------------------
 */
.postbox-content .icon-preview {
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 32px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.postbox-content .icon-preview i {
	display: inline;
	line-height: inherit;
	font-size: inherit;
}

.icon-picker-control .select2-container .select2-selection--single {
	display: flex;
	align-items: center;
	height: 32px;
}

.block-editor-page
	.icon-picker-control
	.select2-container
	.select2-selection--single {
	height: 50px;
}

.icon-picker-control
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 30px;
}

#side-sortables .select2-results__option code {
	display: block;
}

.select2-search__field {
	height: 28px;
}

.icon-picker-control
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 1.4;
}

.block-editor-page .select2-results__option code {
	display: block;
	margin-top: 3px;
}

.block-editor-page .select2-selection code {
	display: block;
	margin-top: 3px;
}

/**
 * ------------------------------
 * Select2 Fix
 * ------------------------------
 */
 .postbox-content .field .control .select2-container {
	 width: 100% !important;
	}
	
	.postbox-content .field .control .select2-selection--single {
		outline: none !important;
	}

/**
 * ------------------------------
 * Pro
 * ------------------------------
 */
.udb-pro-metabox-content {
	margin-top: 0;
}

.udb-pro-metabox-content .description {
	margin-bottom: 7px;
}

.udb-pro-metabox-content li {
	list-style: disc;
	margin-left: 15px;
}









/**
 * ------------------------------
 * Checkbox Switch
 * ------------------------------
 */
.field .switch-control.is-small label {
	width: 40px;
	height: 24px;
}

.field .switch-control label {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.field .switch-control input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The switcher */
.field .switch-control .switch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.field .switch-control.is-small .switch::before {
	height: 16px;
	width: 16px;
}

.field .switch-control .switch::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

.field .switch-control input:checked + .switch {
	background-color: #2196f3;
}

.field .switch-control input:focus + .switch {
	box-shadow: 0 0 1px #2196f3;
}

.field .switch-control.is-small input:checked + .switch::before {
	transform: translateX(16px);
}

.field .switch-control input:checked + .switch::before {
	transform: translateX(26px);
}

/* Rounded switch */
.field .switch-control.is-small.is-rounded .switch {
	border-radius: 24px;
}
.field .switch-control.is-rounded .switch {
	border-radius: 34px;
}

.field .switch-control.is-rounded .switch::before {
	border-radius: 50%;
}
