/* Icon Picker */
.icon-picker-container {
	position: absolute;
	width: 260px;
	height: 300px;
	font-size: 14px;
	background-color: #fff;
	overflow: hidden;
	padding: 10px 5px 5px 5px;
	border: 1px solid #ddd;
	z-index: 10;
}

.icon-picker-container ul {
	margin: 10px 0;
	width: 100%;
}

.icon-picker-container ul li {
	display: inline-block;
	margin: 5px;
	float: left;
}

.icon-picker-container ul li a {
	box-shadow: none;
}

.icon-picker-container ul li a span {
	display: block;
	color: #373737;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #dfdfdf;
	font-size: 20px;
}

.icon-picker-container ul li a span:hover {
	border-color: #999;
	background: #efefef;
}

/* Search */
.icon-picker-control {
	display: flex;
	flex-wrap: wrap;
	height: 32px;
	align-items: center;
	justify-content: space-around;
}

.icon-picker-control a {
	text-decoration: none;
	text-align: center;
	width: 10%;
}

.icon-picker--search-wrapper {
	width: 70%;
}
