/** 
 * Icon Picker
 * https://github.com/contactjavas/icon-picker/
 */
.icon-picker-container {
  position: absolute;
  width: 262px;
  height: 252px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 3px 10px -2px rgba(94, 135, 161, 0.7);
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
}
.icon-picker-container.is-fullwidth {
  width: 100%;
}
.icon-picker-container ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.icon-picker-container ul .fas,
.icon-picker-container ul .fab,
.icon-picker-container ul .far,
.icon-picker-container ul .dashicons {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.icon-picker-container ul li {
  display: inline-block;
  margin: 5px;
  float: left;
}
.icon-picker-container ul li a {
  display: block;
  text-decoration: none;
  color: #373737;
  padding: 5px 5px;
  border: 1px solid #dfdfdf;
}
.icon-picker-container ul li a:hover {
  border-color: #999;
  background: #efefef;
}

.icon-picker-control {
  display: flex;
  flex-wrap: wrap;
  height: 32px;
}
.icon-picker-control a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  width: 12%;
}
.icon-picker-control a span {
  display: inline;
  vertical-align: middle;
}
.icon-picker--search-wrapper {
  display: inline-block;
  width: 76%;
}
.icon-picker-control input {
  font-size: 12px;
  width: 100%;
}
