/* General */
.clearfix::before,
.clearfix::after {
	display: table;
}

.clearfix::after {
	clear: both;
}

.left-col,
.right-col {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.left-col {
	float: left;
	padding-right: 8px;
	width: 50%;
}

.right-col {
	float: right;
	padding-left: 8px;
	width: 50%;
}

/* Code Mirror */
.CodeMirror-wrap {
	border: 1px solid #ddd;
}

/* PRO styling */
.udb-pro-settings-page-notice {
	display: inline-block;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #eee;
}

.udb-pro-settings-page-notice p {
	font-style: italic;
	color: #444444;
	display: block;
	margin: 0 !important;
}

.udb-pro-settings-page-notice .button {
	margin-top: 10px !important;
}
