/* Generic setting styles */
.udb-is-hidden {
	display: none;
}

.description.is-disabled {
	opacity: 0.6;
}

.is-hidden {
	display: none;
}

.CodeMirror-wrap {
	border: 1px solid #ddd;
}

.CodeMirror-sizer {
	margin-left: 46px !important;
}
.CodeMirror-linenumbers {
	width: 29px !important;
}

/* PRO styling */
.udb-pro-settings-page-notice {
	display: inline-block;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
}

.udb-pro-settings-page-notice p {
	font-style: italic;
	display: block;
	margin: 0 !important;
}

.udb-pro-settings-page-notice .button {
	margin-top: 10px !important;
}

/* Featured */
.featured-products > h2 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 24px;
}

.featured-products .products {
	display: flex;
	justify-content: space-between;
}

.featured-products .products li {
	width: 32%;
}

.featured-products .products .subheadline {
	font-weight: 600;
	margin-top: -6px;
}

.featured-products .products img {
	max-width: 100%;
}

.featured-products .credit {
	margin-top: 20px;
	text-align: center;
	opacity: 0.5;
}

/* Specific settings page styles */
.udb-no-label th {
	display: none;
}

/* Heatbox */
.heatbox {
	position: relative;
}

.heatbox .checkbox-label .is-disabled {
	opacity: 0.6;
}

.heatbox .heatbox-overlay.is-hidden {
	display: none;
}

.dark-mode .heatbox .heatbox-overlay {
	background-color: rgba(255, 255, 255, 0.75);
}

.heatbox .heatbox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	z-index: 100;
}
