/* Code Mirror */
.CodeMirror-wrap {
	border: 1px solid #ddd;
}

/* PRO styling */
.udb-pro-settings-page-notice {
	display: inline-block;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
}

.udb-pro-settings-page-notice p {
	font-style: italic;
	display: block;
	margin: 0 !important;
}

.udb-pro-settings-page-notice .button {
	margin-top: 10px !important;
}
