/* Overview Styles */
td.icon .dashicons {
	font-size: 22px;
}
td.icon .fa {
	font-size: 18px;
}

/* Settings Page */
form h2 {
	border-bottom: 1px solid #eee;
	background: #fff;
	margin-bottom: 0;
	padding: 20px;
}

.form-table {
	margin-top: 0;
	background: #fff;
}

.form-table th {
	padding: 20px;
}

/* Addon Styles */
.udb-addon {
	position: relative;
	min-height: 400px;
	float: left;
	border-radius: 2px;
	margin: 20px 20px 0 0;
	padding: 15px;
	border: 1px solid #ddd;
	max-width: 350px;
	background: #fff;
}

.udb-addon-title {
	margin-top: 0;
}

.udb-addon img {
	width: 100%;
	height: auto;
}

.udb-addon .udb-addon-button {
	position: absolute;
	bottom: 15px;
	left: 15px;
}

/* License Styles */
.udb-license {
	position: relative;
	float: left;
	border-radius: 2px;
	margin: 20px 20px 0 0;
	padding: 15px;
	border: 1px solid #ddd;
	max-width: 300px;
	background: #fff;
}

.udb-license-title {
	margin-top: 0;
}

.udb-license input[type=text] {
	width: 100%;
}