.admin-bar-visibility-box h3 {
	font-size: 14px;
}

/**
 * --------------------------------------------------
 * Role multiselect
 * --------------------------------------------------
 */

.admin-bar-visibility-box .select2-label .select2-container {
	width: 100% !important;
	display: block;
}

.admin-bar-visibility-box .select2-selection--multiple {
	padding: 0;
}

.admin-bar-visibility-box {
	background: #fff;
}

.admin-bar-visibility-box .heatbox-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 20px;
	background: #fff;
	border-top: 1px solid #ddd;
}
