/**
 * --------------------------------------------------
 * Heatbox adjustment
 * --------------------------------------------------
 */
/* exists to display the updated icon */
.heatbox h2 {
	position: relative;
}

/**
 * ------------------------------
 * Setting fields
 * ------------------------------
 */

.setting-fields.is-gapless {
	padding: 0;
}

.setting-fields .label {
	display: block;
	font-weight: 600;
}

.setting-fields .description {
	font-weight: 400;
}

hr {
	margin: 20px 0;
	border-top: 1px solid #eee;
	border-bottom: 0;
}

.setting-fields .field:last-child {
	margin-bottom: 0;
}

.setting-fields .field {
	margin-bottom: 20px;
}

.field.is-horizontal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.field.is-horizontal .field-label {
	width: 30%;
}

.field.is-horizontal .field-body {
	padding-left: 20px;
	width: 70%;
}

/**
 * --------------------------------------------------
 * Saved status
 * --------------------------------------------------
 */
.admin-bar-visibility-box .saved-status.is-shown,
.admin-bar-visibility-box .saved-status-bar.is-shown {
	opacity: 1;
}

.admin-bar-visibility-box .saved-status {
	position: absolute;
	right: 20px;
	top: 50%;
	padding: 10px;
	height: 30px;
	line-height: 10px;
	font-size: 12px;
	font-weight: 700;
	opacity: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #47d87c;
	border-radius: 4px;
	color: #fff;
}

.admin-bar-visibility-box .saved-status-bar {
	position: fixed;
	left: 0;
	top: 32px;
	padding: 10px 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	background-color: #47d87c;
	opacity: 0;
	z-index: 1; /* The bar should be on top of widget items. */
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/**
 * --------------------------------------------------
 * Role multiselect
 * --------------------------------------------------
 */

.admin-bar-visibility-box .select2-label .select2-container {
	width: 100% !important;
	display: block;
}

.admin-bar-visibility-box .select2-selection--multiple {
	padding: 0;
}

.admin-bar-visibility-box {
	background: #fff;
}

.admin-bar-visibility-box .heatbox-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 20px;
	background: #fff;
	border: 1px solid #ddd;
}
