.udb-admin-bar .udb-pro-upgrade-nag {
	margin-top: 0;
}

.admin-bar-visibility-box h3 {
	font-size: 14px;
}

.admin-bar-visibility-box .heatbox-footer {
	padding: 20px 20px;
	border-top: 1px solid #ddd;
}
