/* General */
.clearfix::before,
.clearfix::after {
	display: table;
}

.clearfix::after {
	clear: both;
}

.left-col,
.right-col {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.left-col {
	float: left;
	padding-right: 8px;
	width: 50%;
}

.right-col {
	float: right;
	padding-left: 8px;
	width: 50%;
}

th {
	display: none;
}

.submit {
	padding: 20px;
	padding-bottom: 0;
}
